<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="rounded" style="background-image: url('../../Content/Graphics/backgroundfloral.jpg'); background-size:contain; background-position:center; background-attachment:scroll; padding-top:0 ">
    
    <div class="sidenav rounded" style="background-color: white;">
        <p>155 N. University Ave. #155 Provo, UT 84655</p>
        <p><u>Hours by Appointment only</u></p>
        <p>bailey@@sb.com</p>
        <p>801.774.2389</p>
    </div>

    <div class="navbar bg-light justify-content-center navbar-fixed-top" style="background-image:none; padding-top:0; margin-top:0">
        <div class="container">
            <span class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
               
                <a class="btn btn-light btn-outline-secondary" href="@Url.Action("Index","Dress")">Our Dresses</a>
                <a class="btn btn-light btn-outline-secondary" href="@Url.Action("Index","Owner")">Owners</a>
                <a class="btn btn-light btn-outline-secondary" href="@Url.Action("Shedule","Home")">Schedule</a>
                
                
                <a style="margin-left:250px" class="navbar-brand rounded-0" href="@Url.Action("Index","Home")"><img width="150" height="100" class="rounded-circle" src="~/Content/Graphics/Logo.png" /> </a>
            </span>
        </div>
           @* <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="su" href="@Url.Action("Index","Home")">Index</a></li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>*@
        
    </div>
    
    <div style="margin-left: 150px;">
        <div class="jumbotron container body-content" style="background-color: white;">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Bliss Bridal</p>
            </footer>
        </div>
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
