@model IEnumerable<SomethingBorrowed.Models.Owner>

@{
    ViewBag.Title = "Dress Owners";
}

<h2>Dress Owners</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            Owner Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerPhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerFirstName)<text> </text>@Html.DisplayFor(modelItem => item.OwnerLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerAddress)<text> </text>@Html.DisplayFor(modelItem => item.OwnerCity)<text>, </text>
            @Html.DisplayFor(modelItem => item.state.StateDesc)<text> </text>@Html.DisplayFor(modelItem => item.OwnerZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OwnerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OwnerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OwnerID })
        </td>
    </tr>
}

</table>
