@model SomethingBorrowed.Models.Dress

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DressSize.DressSizeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DressSize.DressSizeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.OwnerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.OwnerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DressDesigner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DressDesigner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DressYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DressYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DressColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DressColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DressPricePaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DressPricePaid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dressID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
